-# frozen_string_literal: true
= simple_form_for(@product) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :stage, collection: Product::STAGES.map{|t| t.humanize}
    = f.input :url
    = f.input :product_type, collection: Product::TYPES.map{|t| t.humanize}
    = f.input :description, as: :text, :input_html => { 'rows' => 4}

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
