.row.mb-3
  .col-md-10
    .card
      .card-body
        %h4.card-title=link_to product.name, product
        .card-text
          %p= "Stage: #{product.stage}"
          %p= product.description
          %p= product.product_type
          %span=product.comments.count
          %i.fa.fa-comment-alt
  .col-md-2
    .card.vote-card
      .my-auto 
        = render partial: 'vote_button', locals: {vote_object: product}
    .text-center.mt-3
      = render partial: 'follow_button', locals: {product: product}
        
