.row.mb-3
  .col-md-10
    .card
      .card-body
        %h3.card-title=link_to product.name, product
        .card-text
          %p= "Stage: #{product.stage}"
          %p= product.description
          %p= product.product_type
          %p= product.url
          %span 3
          %i.fa.fa-comment-alt
  .col-md-2
    .card.text-center.vote-card
      .my-auto 
        -if current_user && !current_user.voted_up_on?(product)
          =link_to like_product_path(product), method: :put do
            .text-default
              =fa_icon('chevron-up')
              %h6=product.get_upvotes.size
        -else
          =link_to dislike_product_path(product), method: :put do
            %div{class: "#{current_user.voted_for?(product) ? 'text-danger' : ''}"}
              =fa_icon('chevron-up')
              %h6=product.get_upvotes.size

