.row.mb-3.mt-5
  .col-md-10
    .card
      .card-body
        =link_to @product.url, target: :_blank do
          %h3.card-title.d-inline= @product.name 
          = " "
          = fa_icon('external-link sm')
        - if current_user_is_owner?(@product)
          .pull-right
            = link_to 'Edit', edit_product_path(@product)
        .card-text
          %p= "Followers: #{@product.followers.count}"
          %p= "Stage: #{@product.stage}"
          %p= @product.description
          %p= @product.product_type
          %p
            %b Type:
            = @product.product_type

      .card-footer.py-4
        = simple_form_for [@product, @product.comments.build], html: { class: 'form-inline'} do |f|
          = f.input :body, as: :string, label: false, input_html: {class: 'mr-3'}, placeholder: "What do you think about this idea?"
          = f.submit 'Add Comment', class: 'btn btn-primary'
        - if !@comments.empty?
          %hr
        - @comments.each do |comment|
          = render partial: 'comment', locals: {comment: comment}
  .col-md-2
    .card.text-center.vote-card
      .my-auto 
        = render partial: 'vote_button', locals: {vote_object: @product}
    .text-center.mt-3
      = render partial: 'follow_button', locals: {product: @product}
